<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.batu.ninoclient">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Nino"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <!-- Register library Activities -->
        <!-- Register library Activities -->
        <!-- Register library Activities -->
        <!--
        <activity
            android:name="com.example.batu.ninoclient.MainActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <service android:name="com.example.batu.ninoclient.service.FloatingNoteService" />
        <service android:name="com.example.batu.ninoclient.notification.NotificationIntentService" />

        <activity
            android:name="com.example.batu.ninoclient.note.creation.activity.ViewAdvancedNoteActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.example.batu.ninoclient.note.creation.activity.CreateNoteActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.example.batu.ninoclient.note.creation.activity.CreateListNoteActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.example.batu.ninoclient.export.activity.ImportNoteActivity" />
        <activity android:name="com.example.batu.ninoclient.main.activity.OpenTextIntentOrFileActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="text/plain"
                    android:scheme="file" />
                <data
                    android:mimeType="text/plain"
                    android:scheme="content" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.batu.ninoclient.widget.NoteWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver android:name="com.example.batu.ninoclient.widget.CreateNoteWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/create_note_widget_info" />
        </receiver>

        <activity android:name="com.example.batu.ninoclient.main.activity.WidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.batu.ninoclient.note.selection.activity.SelectNotesActivity" />

        <service
            android:name="com.example.batu.ninoclient.widget.AllNotesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <receiver android:name="com.example.batu.ninoclient.widget.AllNotesWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/all_notes_widget_info" />
        </receiver>
    -->
    </application>
</manifest>